@import "./normalize.css";

:root{
    --bili-color:#fb7299;
    
}
a{
    text-decoration: none;
}
html{
    line-height: normal;
}
ul,li{
    padding: 0;
    margin: 0;
}
*{
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif;
}